<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="cai.peter.vision"/>
    <jpa:repositories base-package="cai.peter.vision.persistence"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
          value="jdbc:mysql://localhost:3306/commafeed?autoReconnect=true&amp;failOverReadOnly=false&amp;maxReconnects=20&amp;rewriteBatchedStatements=true&amp;characterSetResults=UTF-8&amp;characterEncoding=UTF-8&amp;useUnicode=yes&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>

    <bean id="entityManagerFactory"
      class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="cai.peter.vision.persistence"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <!--  validate | update | create | create-drop -->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- <tx:annotation-driven/> -->

    <task:executor id="feedRefreshUpdaterExecutor" pool-size="5" queue-capacity="1000"/>
    <task:executor id="feedRefreshWorkerExecutor" pool-size="50" queue-capacity="1000"/>
    <task:executor id="defaultExecutor" pool-size="1"/>
    <task:annotation-driven executor="defaultExecutor"/>

    <!--	<bean id="feedRefreshUpdaterExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">-->
    <!--		<property name="corePoolSize" value="5" />-->
    <!--		<property name="maxPoolSize" value="10" />-->
    <!--		<property name="queueCapacity" value="1000" />-->
    <!--	</bean>-->

    <!--	<bean id="feedRefreshWorkerExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">-->
    <!--		<property name="corePoolSize" value="50" />-->
    <!--		<property name="maxPoolSize" value="100" />-->
    <!--		<property name="queueCapacity" value="1000" />-->
    <!--	</bean>-->

     <bean id="config"
      class="cai.peter.vision.common.VisionConfiguration">
        <property name="applicationSettings" ref="applicationSettings"></property>
    </bean>

    <bean id="applicationSettings"
      class="cai.peter.vision.common.VisionConfiguration$ApplicationSettings">
        <property value="http://localhost:8082/" name="publicUrl"></property>
    </bean>

    <bean id="jdbcTemplate"
    	class="org.springframework.jdbc.core.JdbcTemplate">
    <constructor-arg ref="dataSource"></constructor-arg>
    </bean>

    <bean id="namedParameterJdbcTemplate"
    	class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
    <constructor-arg ref="dataSource"></constructor-arg>
    </bean>
</beans>