#set( $recordPackage  = "${ROOT_PKG}.data.record" )
#set( $recordClass    = "${entity.name}Record" )
#set( $recordInstance = $fn.uncapitalize($entity.name) )
##
#set( $persistenceService = "${entity.name}Persistence" )
#set( $redisServiceClass  = "${entity.name}PersistenceRedis" )
#set( $keyFields = $entity.keyAttributes )
