#if ( $databases.hasDatabase($model.databaseId) )
#set ( $database = $databases.getDatabase($model.databaseId) )
#set ( $dbname = $database.name)
#else
#set ( $dbname = "" )
#end
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>${entity.databaseTable} documentation</title>
<STYLE TYPE="text/css"> 
table {
	 border: thin solid Gray;
}
th,td{
	 border: thin solid Gray;
	 	margin-left: 10px;
 	margin-right: 10px;
 		padding-left: 10px;
 padding-right: 10px;
 	
}
th {
	 background-color: #B3AFDE;
	}
td.label{
	 background-color: #B3AFDE;
}

</STYLE> 

</head>
<body>
<p><span style="font-size: 22px; font-weight: bold;">Table 
<span style="color: blue;">"${entity.databaseTable}" </span>
&nbsp; &nbsp; &nbsp; 
##( database "$dbname" ) 
</span>
&nbsp; &nbsp; &nbsp; 
&#8678;&nbsp;<a href="../database.html">tables list</a> </p>


## ============== Table / Schema / Catalog / Type
#*
<h2>Table "${entity.databaseTable}"</h2>
<table>
<tr>  
   <th> Table name </th>                 
   <th> Schema </th> 
   <th> Catalog </th> 
   <th> Type </th> 
</tr>
<tr>  
  <td style="font-weight:bold;" > $entity.databaseTable</td>
  <td> $entity.databaseSchema &nbsp;</td>
  <td> $entity.databaseCatalog &nbsp;</td>
  <td> $entity.databaseType </td>
</tr>
</table>
*#
## ==============
<table style="border: none;" ><tr>
 <td style="border: none;" > Schema </td> <td> $entity.databaseSchema &nbsp; </td> 
 <td style="border: none;" > &nbsp; &nbsp; &nbsp; Catalog </td> <td> $entity.databaseCatalog &nbsp; </td> 
 <td style="border: none;" > &nbsp; &nbsp; &nbsp; Type </td> <td> $entity.databaseType &nbsp; </td> 
</tr></table>

<br>

## ============== Columns
<table>
<tr>
  <th>Column name</th> <th >PK</th> <th>Column type</th> <th>Size</th>  <th>JDBC type</th>
</tr>

#foreach( $field in $entity.attributes )
<tr>
  <td #if ( $field.isKeyElement() ) style="font-weight:bold;"#end >$field.databaseName</td>
  <td>#if ( $field.isKeyElement() ) <b>PK</b>#else &nbsp; #end</td>
  <td>$field.databaseTypeWithSize </td>
  <td align="right">$field.databaseSize</td>
  <td align="right">$field.jdbcTypeCode</td>
</tr>
#end
</table>
## ==============
<br><br>
## ============== Foreign Keys
#if ( $entity.databaseForeignKeysCount > 0 )
<table>
<tr> <th>Foreign keys</th> </tr>
#foreach( $fk in $entity.databaseForeignKeys )
<tr><td>
#set($referencedEntity = $model.getEntityByTableName($fk.referencedTableName))
  <b>"$fk.name"</b> &#10140; table  <b>"<a href="${referencedEntity.name}.html">$fk.referencedTableName</a>"</b><br>
#foreach( $fkcol in $fk.columns )
<table style="border: none;" >
<tr><td> $fkcol.columnName </td><td style="border: none;" > &#10140; </td><td>$fkcol.referencedColumnName  </td></tr>
</table>
#end
 &nbsp;&nbsp; on delete : $fk.deleteRule ($fk.deleteRuleCode) <br>
 &nbsp;&nbsp; on update : $fk.updateRule ($fk.updateRuleCode)<br>
 &nbsp;&nbsp; deferrable : $fk.deferrable ($fk.deferrableCode)<br>
</td></tr>
#end
</table>
#else
<b>No foreign key.</b>
#end
## ==============
<br><br>
<p>Table documentation generated by <a href="http://www.telosys.org/">Telosys</a> ( $today.date $today.time )</p>

</body>
</html>
